{% extends 'bootstrap/base.html' %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock %}

{% block head %}
    {{super()}}
    {{ckeditor.load()}}
{% endblock %}
{% block title %}
Flog
{% endblock%}


{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <ul class="alert alert-{{category}}">{{message}}</ul>
                {% endfor %}
        {% endif %}
{% endwith %}

    {% block sub_content%}
    {%endblock%}
{%endblock%}